#sobre {
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.type-slider{
    display: grid;
    height: 3.125rem;
    background-color: var(--input-base);
    border-radius: .5rem;
    border: 1px solid var(--input-stroke);
    grid-template-columns: 1fr 1fr;
    & > .radio {
        position: relative;
        margin: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .25rem;
        label {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
        }
        input {
            cursor: pointer;
            inset: 0;
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }

        &:has(:checked) {
            background-color: var(--shape-button);
            label {
                font-weight: 600;
                color: var(--text-heading);
                svg {
                    fill: var(--brand-light);
                    stroke: var(--brand-light);
                    stroke-width: .02rem;
                }
            }
        }
    }
}