main {
    & > .main-container {
        margin-top: 1.25rem;
        margin-block: 1.25rem;
        border-radius: .75rem;
        background-color: var(--shape-body);
        min-width: 51.25rem;
        padding: 5rem 8.125rem;

        h2 {
            font: var(--heading-md);
            margin-bottom: 2.5rem;
        }

        form {
            display: grid;
            gap: 3rem;
            fieldset{
                padding-top: 1.5rem;

                display: grid;

                border: none;
                legend {
                    display: flex;
                    align-items: center;
                    gap: .75rem;
                }
            }
        }
    }
}

#sobre {
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

#personalizacao {
    gap: 1.75rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.input-wrapper {
    display: grid;
    gap: .75rem;
    width: 100%;

    label {
        font: var(--body-sm);
        color: var(--text-body);
    }
}

.type-slider{
    display: grid;
    height: 3.125rem;
    background-color: var(--input-base);
    border-radius: .5rem;
    border: 1px solid var(--input-stroke);
    grid-template-columns: 1fr 1fr;
    & > .radio {
        position: relative;
        margin: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .25rem;
        label {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
        }
        input {
            cursor: pointer;
            inset: 0;
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }

        &:has(:checked) {
            background-color: var(--shape-button);
            label {
                font-weight: 600;
                color: var(--text-heading);
                svg {
                    fill: var(--brand-light);
                    stroke: var(--brand-light);
                    stroke-width: .02rem;
                }
            }
        }
    }
}

input, textarea {
    font: var(--body-md);
    color: var(--text-body);
    padding: .8125rem 1rem;
    appearance: none;
    background-color: var(--input-base);
    border-radius: .5rem;
    border: 1px solid var(--input-stroke);

    &:hover, &:focus-within {
        outline: 1px solid var(--brand-light);
    }
}

textarea {
    height: 8.5rem;
}

.color-radio-wrapper {
    margin-top: .25rem;
    display: flex;
    justify-content: space-around;
    input {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        border-width: 5px;
    }
}

.input-tema {
    display: grid;
    gap: .75rem;

    label {
        font: var(--body-sm);
        color: var(--text-body);
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: .5rem;
    
        .card {
            background-color: var(--shape-button);
            border: 1px solid var(--input-stroke);
            border-radius: .5rem;
            padding: .25rem;
            display: grid;
            gap: .5rem;
            position: relative;
    
            label {
                font: var(--body-sm);
                color: var(--text-heading);
                font-weight: 500;
                text-align: center;
            }
    
            input{
                inset: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
    
            &:hover {
                background-color: var(--shape-hover);
            }
    
            &:has(:checked) {
                outline: 2px solid var(--brand-light);
            }
        }
    }
}

.switch-wrapper{
    display: flex;
    align-items: center;
    gap: .75rem;
    text-align: center;
    .switch {
        width: 3.5rem;
        height: 2rem;
        display: flex;
        background-color: var(--input-base);
        border: 2px solid var(--input-stroke);
        position: relative;
        border-radius: 6rem;
        align-items: center;
        cursor: pointer;
        .radio {
            opacity: 0;
            inset: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            input {
                width: 50%;
                border: none;
            }
        }
        span {
            width: 1.3rem;
            height: 1.3rem;
            background-color: var(--shape-button);
            border-radius: 50%;
            margin-left: .25rem;
        }
    }
}

.file-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: .75rem;
    color: var(--input-placeholder);
    input {
        opacity: 0;
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .file-button {
        font: var(--body-sm);
        font-weight: 500;
        color: var(--text-heading);
        align-items: center;
        display: flex;
        gap: .5rem;
        background-color: var(--shape-button);
        padding: .75rem .65625rem;
        border-radius: .5rem;
        cursor: pointer;

    }


    &:hover {
        .file-button{
            background-color: var(--shape-hover);
        }

    }
}