@import url(fieldsets/index.css);

main {
    & > .main-container {
        margin-top: 1.25rem;
        margin-block: 1.25rem;
        border-radius: .75rem;
        background-color: var(--shape-body);
        min-width: 51.25rem;
        padding: 5rem 8.125rem;

        h2 {
            font: var(--heading-md);
            margin-bottom: 2.5rem;
        }

        form {
            display: grid;
            fieldset{
                padding-top: 1.5rem;
                display: grid;
                border: none;
                legend {
                    display: flex;
                    align-items: center;
                    gap: .75rem;
                }
            }

            button[type="submit"] {
                margin-top: 3rem;
                background-color: var(--brand-dark);
                border: none;
                margin-left: auto;
                border-radius: .5rem;
                padding: .8125rem 1.25rem;
                font: var(--text-body);
                color: var(--text-heading);
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .75rem;
                width: 12rem;
                &:hover {
                    background-color: var(--brand-md);
                }
            }
        }
    }
}

.input-wrapper {
    display: grid;
    gap: .75rem;
    width: 100%;

    label {
        font: var(--body-sm);
        color: var(--text-body);
    }
}



input, textarea {
    font: var(--body-md);
    color: var(--text-body);
    padding: .8125rem 1rem;
    appearance: none;
    background-color: var(--input-base);
    border-radius: .5rem;
    border: 1px solid var(--input-stroke);

    &:hover, &:focus-within {
        outline: 1px solid var(--brand-light);
    }
}

textarea {
    height: 8.5rem;
}